.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.annotation text {
	font-size: 10px;
	fill: #4C4C4C;
}

.axis line {
	stroke : #4C4C4C;
}

.axis text {
	fill: #4C4C4C;
}